{% extends 'base.html.twig' %}

{% block title %}Funcionalidades{% endblock %}

{% block body %}
<div class="container">
    <h1>Funcionalidades</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div>
        <a href="{{ path('anadir_nuevo_libro') }}" class="btn btn-success">Añadir nuevo Libro</a>
        <a href="{{ path('insertar_biblioteca') }}" class="btn btn-success">Añadir nueva Biblioteca</a>
    </div>

    <h2>Editar Libro</h2>
    <p>Para editar un libro, dirigete a la URL: <code>{{ path('editar_libro', {'id': 'ID_DEL_LIBRO'}) }}</code></p>
    <p>Reemplaza <code>ID_DEL_LIBRO</code> con el ID del libro que deseas editar.</p>




    <h2>Editar Biblioteca</h2>
    <p>Para editar una biblioteca, dirigete a la URL: <code>{{ path('editar_biblioteca', {'id': 'ID_DE_LA_BIBLIOTECA'}) }}</code></p>
    <p>Reemplaza <code>ID_DE_LA_BIBLIOTECA</code> con el ID de la biblioteca que deseas editar.</p>

</div>
{% endblock %}
