{% extends 'base.html.twig' %}

{% block title %}Listar Libros de la Biblioteca{% endblock %}

{% block body %}
    <form action="{{ path('listar_libros_biblioteca') }}" method="get">
        <label for="biblioteca">Biblioteca:</label>
        <select id="biblioteca" name="biblioteca">
            {% for biblioteca in bibliotecas %}
                <option value="{{ biblioteca.id }}">{{ biblioteca.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Buscar</button>
    <h1>Listar Libros de la Biblioteca</h1>

    <ul>
        {% for libro in libros %}
            <li>
                <h2>{{ libro.titulo }}</h2>
                <p>{{ libro.autor }}</p>
            </li>
        {% else %}
            <li>No hay libros disponibles.</li>
        {% endfor %}
    </ul>
{% endblock %}
