{% extends 'base.html.twig' %}

{% block title %}Listar Libros de la Biblioteca{% endblock %}

{% block body %}
<style>
ul {
    list-style-type: none;
    padding: 0;
}
             
li {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1em;
}
div {
    margin-bottom: 1em;
}
.inputs{
    margin-right: 20px;
}
</style>

<div class="container">
    <form class="form" action="{{ path('listar_libros_biblioteca') }}" method="get">
        <label class="labels" for="biblioteca">Biblioteca:</label>
        <select class="inputs" id="biblioteca" name="biblioteca">
            {% for biblioteca in bibliotecas %}
                <option value="{{ biblioteca.id }}">{{ biblioteca.nombre }}</option>
            {% endfor %}
        </select>
        <button class="btn-primary btn" type="submit">Buscar</button>
    </form>

    {% if biblioteca is not null %}
        <h1>Libros de la biblioteca {{biblioteca.nombre}}</h1>
    {% else %}
        <h1>No se ha seleccionado ninguna biblioteca</h1>
    {% endif %}

    <ul>
        {% for libro in libros %}
            <li>
                <h2><b>Titulo: </b>{{ libro.titulo }}</h2>
                <p><b>Autor: </b>{{ libro.autor }}</p>
                <form action="{{ path('borrar_libro', {'id': libro.id}) }}" method="post">
                        <input type="hidden" name="biblioteca_id" value="{{ biblioteca.id }}">
                        <button type="submit" class="btn btn-danger">Borrar</button>
                    </form>
            </li>
        {% else %}
            <li>No hay libros disponibles.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
