{% extends 'base.html.twig' %}

{% block title %}Editar Libro{% endblock %}

{% block body %}
<style>
    .form-group {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-bottom: 10px;
    }
</style>
<div class="container">
    <h1>Editar Libro</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {% if form is defined %}
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
        
        {% for child in form %}
            <div class="form-group">
                <label class="labels">{{ form_label(child) }}</label>
                <div class="inputs">{{ form_widget(child, {'attr': {'class': 'form-control'}}) }}</div>
            </div>
        {% endfor %}
        
        <button class="btn btn-primary">Actualizar Libro</button>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" style="margin-top: 20px;">{{ message }}</div>
        {% endfor %}

        {{ form_end(form) }}
    {% else %}
        <p>No existe un libro con el ID proporcionado.</p>
    {% endif %}
</div>
{% endblock %}