{% extends 'base.html.twig' %}

{% block title %}Editar Libro{% endblock %}

{% block body %}
<style>
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 10px;
    }
    .error-message {
        color: red;
        font-size: 0.8em;
        margin-top: 5px;
    }
</style>
<div class="container">
    <h1>Editar Libro</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {% if form is defined %}
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
        
        {% for child in form %}
            <div class="form-group">
                {{ form_label(child) }}
                {{ form_widget(child, {'attr': {'class': 'form-control'}}) }}
                {% if child.vars.errors %}
                    <div class="error-message">
                        {% for error in child.vars.errors %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        


        <button class="btn btn-primary">Actualizar Libro</button>



        {% for message in app.flashes('success') %}
            <div class="alert alert-success" style="margin-top: 20px;">{{ message }}</div>
        {% endfor %}

        {{ form_end(form) }}
    {% else %}
        <p>No existe un libro con el ID proporcionado.</p>
    {% endif %}
</div>
{% endblock %}
