{% extends 'base.html.twig' %}

{% block title %}Añadir Nuevo Libro{% endblock %}

{% block body %}
<style>
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 10px;
    }
    .error-message {
        color: red;
        font-size: 0.8em;
        margin-top: 5px;
    }
</style>
<div class="container">
    <h1>Añadir un nuevo libro</h1>
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    {% for child in form %}
        <div class="form-group">
            {{ form_label(child) }}
            {{ form_widget(child, {'attr': {'class': 'form-control'}}) }}
            {% if child.vars.errors %}
                <div class="error-message">
                    {% for error in child.vars.errors %}
                        {{ error.message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button class="btn btn-primary">Guardar libro</button>
    {{ form_end(form) }}
</div>
{% endblock %}
